<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Daniele Cencig - Maintenance</title>
  </head>
  <body class="bg-zinc-100 text-text">
    <main class="container mx-auto flex flex-col justify-center items-center h-screen text-center space-y-8">
      <img class="w-96 lg:w-full" src="/images/under_construction.png" alt="Under construction image" />
      <h1 class="text-xl lg:text-4xl">Website under construction</h1>
      <h2 class="text-medium lg:text-2xl">
        If you're seeing this, it means the website has some issues or that it isn't ready for you yet.
      </h2>
      <p class="text-medium lg:text-2xl">Stay tuned, amazing stuff will come soon!</p>
    </main>
  </body>
</html>
